.screenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1180px;

  @media screen and (max-width: 786px) {
    width: 100%;
    margin: 0px 12px;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
